<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="ClientCreateDlg" widgetVar="ClientCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.CreateClientTitle}">
            <h:form id="ClientCreateForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{clientController.selected != null}">
                        <p:outputLabel value="#{bundle.CreateClientLabel_idUser}" for="idUser" />
                        <p:inputText id="idUser" value="#{clientController.selected.idUser}" title="#{bundle.CreateClientTitle_idUser}" required="true" requiredMessage="#{bundle.CreateClientRequiredMessage_idUser}"/>
                        <p:outputLabel value="#{bundle.CreateClientLabel_name}" for="name" />
                        <p:inputText id="name" value="#{clientController.selected.name}" title="#{bundle.CreateClientTitle_name}" required="true" requiredMessage="#{bundle.CreateClientRequiredMessage_name}"/>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{clientController.create}" value="#{bundle.Save}" update="display,:ClientListForm:datalist" oncomplete="handleSubmit(args,'ClientCreateDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="ClientCreateDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
