<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog  id="ListPriceEditDlg" widgetVar="ListPriceEditDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.EditListPriceTitle}">
            <h:form id="ListPriceEditForm">
                <p:messages id="messages" showDetail="false" autoUpdate="false" closable="true" />
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{listPriceController.selected != null}">

                        <p:outputLabel value="#{bundle.EditListPriceLabel_price}" for="price" />
                        <p:inputText id="price" disabled="#{!listPriceController.selected.dateini.after(listPriceController.today)}" value="#{listPriceController.selected.price}" title="#{bundle.EditListPriceTitle_price}" required="true" requiredMessage="#{bundle.EditListPriceRequiredMessage_price}"/>

                        <p:outputLabel value="#{bundle.EditListPriceLabel_dateini}" for="dateiniNoEdit" />
                        <p:calendar id="dateiniNoEdit" disabled="true" pattern="dd/MM/yyyy" value="#{listPriceController.selected.dateini}" title="#{bundle.EditListPriceTitle_dateini}" required="true" requiredMessage="#{bundle.EditListPriceRequiredMessage_dateini}"/>

                        <h:panelGroup rendered="#{!listPriceController.selected.datefin.after(listPriceController.today)}">
                            <p:outputLabel value="#{bundle.EditListPriceLabel_datefin}" for="datefinNoEdit" />
                        </h:panelGroup>
                        <h:panelGroup rendered="#{!listPriceController.selected.datefin.after(listPriceController.today)}">
                            <p:calendar id="datefinNoEdit" disabled="true" pattern="dd/MM/yyyy" value="#{listPriceController.selected.datefin}" title="#{bundle.EditListPriceTitle_datefin}" required="true" requiredMessage="#{bundle.EditListPriceRequiredMessage_datefin}"/>
                        </h:panelGroup>

                        <h:panelGroup rendered="#{listPriceController.selected.datefin.after(listPriceController.today)}">
                            <p:outputLabel value="#{bundle.EditListPriceLabel_datefin}" for="datefinEdit" />
                        </h:panelGroup>
                        <h:panelGroup rendered="#{listPriceController.selected.datefin.after(listPriceController.today)}">
                            <p:calendar id="datefinEdit" pattern="dd/MM/yyyy" mindate="#{listPriceController.tomorrow}" value="#{listPriceController.selected.datefin}" title="#{bundle.EditListPriceTitle_datefin}" required="true" requiredMessage="#{bundle.EditListPriceRequiredMessage_datefin}"/>
                        </h:panelGroup>

                    </p:panelGrid>
                    <p:commandButton actionListener="#{listPriceController.update}" value="#{bundle.Save}" process="@form" update="ListPriceEditForm,:ListPriceListForm:datalist,:ListPriceListForm:messages"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="PF('ListPriceEditDialog').hide()"/>

                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
