<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="../../template.xhtml">

        <ui:define name="title">
            <h:outputText value="Price List"></h:outputText>
        </ui:define>

        <ui:define name="body">
            
           <ul class="nav nav-tabs">
            <li role="presentation"><h:link outcome="/Views/article/List" value="Articles (Administration)"/></li>
            <li role="presentation" class="active"><h:link outcome="/Views/listPrice/List" value="List Price (Administration)"/></li>
            <li role="presentation"><h:link outcome="/Views/bill/List" value="Bills (Administration)"/></li>
            <li role="presentation"><h:link outcome="/Views/orders/Order" value="Make Order (Client)"/></li>
        </ul>
            
            <h:panelGroup>
                <h:form prependId="false">
                    <f:event type="preRenderComponent" listener="#{listPriceController.inicializarValores()}"/>
                </h:form>
            </h:panelGroup>

            <p:panel id="create" header="Assign price to item" toggleable="true" closable="false"
                     toggleSpeed="500" collapsed="false">
                <h:form id="ListPriceCreateForm" prependId="false">
                    <p:messages id="msgs" showDetail="false" autoUpdate="false" closable="true"/>
                    <h:panelGroup id="display">
                        <p:panelGrid columns="6" columnClasses="ui-grid-col-1,ui-grid-col-3,ui-grid-col-1,ui-grid-col-3,ui-grid-col-1,ui-grid-col-3" layout="grid" styleClass="ui-panelgrid-blank">
                            <p:outputLabel value="#{bundle.CreateListPriceLabel_article}" for="article" />
                            <p:selectOneMenu id="article" value="#{listPriceController.newListPrice.article}" required="true" requiredMessage="#{bundle.EditListPriceRequiredMessage_article}"
                                             effect="fade" filter="true" filterMatchMode="contains"
                                             >
                                <f:selectItems value="#{articleController.itemsAvailableSelectOne}"
                                               var="articleItem" itemLabel="#{articleItem.name} - #{articleItem.stock} - #{articleItem.state}"
                                               itemValue="#{articleItem}"/>
                            </p:selectOneMenu>

                            <p:outputLabel value="#{bundle.CreateListPriceLabel_dateini}" for="dateini" />
                            <p:calendar id="dateini" pattern="dd/MM/yyyy" value="#{listPriceController.newListPrice.dateini}" mindate="#{listPriceController.tomorrow}" title="#{bundle.EditListPriceTitle_dateini}" required="true" requiredMessage="#{bundle.EditListPriceRequiredMessage_dateini}" />

                            <p:outputLabel value="#{bundle.CreateListPriceLabel_datefin}" for="datefin" />
                            <p:calendar id="datefin" pattern="dd/MM/yyyy" value="#{listPriceController.newListPrice.datefin}" mindate="#{listPriceController.tomorrow}" title="#{bundle.EditListPriceTitle_datefin}" required="true" requiredMessage="#{bundle.EditListPriceRequiredMessage_datefin}"/>

                            <p:outputLabel value="#{bundle.CreateListPriceLabel_price}" for="price" />
                            <p:inputText id="price" value="#{listPriceController.newListPrice.price}" title="#{bundle.CreateListPriceTitle_price}" required="true" requiredMessage="#{bundle.CreateListPriceRequiredMessage_price}"/>
                        </p:panelGrid>
                    </h:panelGroup>

                    <br/>
                    <div class="ui-g">
                        <div class="ui-g-12 ui-md-2  ui-lg-2"><p:commandButton process="@form" icon="ui-icon-disk" update="@form, :ListPriceListForm:datalist" actionListener="#{listPriceController.crearRegistro}" value="#{bundle.Save} " /></div>
                    </div>
                </h:form>
            </p:panel>


            <p:tooltip />
            <h:form id="ListPriceListForm" prependId="false">
                <p:messages id="messages" showDetail="false" autoUpdate="false" closable="true" />

                <p:dataTable id="datalist" var="item" value="#{listPriceController.listado}" reflow="true" style="margin-top:20px"
                             rows="10" paginator="true" rowsPerPageTemplate="5,10,15"
                             paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                             selectionMode="single" selection="#{listPriceController.selected}"
                             rowKey="#{item.listPricePK}"
                             >
                    <p:ajax event="rowUnselect" update="editButton"/>
                    <p:ajax event="rowSelect"   update="editButton"/>

                    <f:facet name="header">
                        Price List
                    </f:facet>

                    <p:column headerText="Name - Stock - State (Articles)" filterBy="#{item.article.name} - #{item.article.stock} - #{item.article.state}" sortBy="#{item.article.name} - #{item.article.stock} - #{item.article.state}">
                        <h:outputText value="#{item.article.name} - #{item.article.stock} - #{item.article.state}"  />
                    </p:column>

                    <p:column headerText="Price" sortBy="#{item.price}" >
                        <h:outputText value="#{item.price}"/>
                    </p:column>

                    <p:column headerText="Initial Date" >
                        <h:outputText value="#{item.dateini}">
                            <f:convertDateTime pattern="dd/MM/YYYY"/>
                        </h:outputText>                            
                    </p:column>

                    <p:column headerText="Final Date">
                        <h:outputText value="#{item.datefin}">
                            <f:convertDateTime pattern="dd/MM/YYYY"/>
                        </h:outputText>
                    </p:column>

                    <p:column headerText="Edit By">
                        <h:outputText value="#{item.userEdit}" />
                    </p:column>

                    <p:column headerText="Edit Date">
                        <h:outputText value="#{item.dateEdit}">
                            <f:convertDateTime pattern="dd/MM/YYYY"/>
                        </h:outputText>
                    </p:column>

                    <f:facet name="footer">
                        <p:commandButton id="editButton" style="width: 200px;" icon="ui-icon-pencil" value="#{bundle.Edit}" update=":ListPriceEditForm" oncomplete="PF('ListPriceEditDialog').show()" disabled="#{empty listPriceController.selected || !listPriceController.selected.datefin.after(listPriceController.today)}"/>
                    </f:facet>
                </p:dataTable>
            </h:form>

            <ui:include src="Edit.xhtml"/>

        </ui:define>
    </ui:composition>

</html>
