<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="ArticleCreateDlg" widgetVar="ArticleCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.CreateArticleTitle}">
            <h:form id="ArticleCreateForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{articleController.selected != null}">
                        <p:outputLabel value="#{bundle.CreateArticleLabel_idArticle}" for="idArticle" />
                        <p:inputText id="idArticle" value="#{articleController.selected.idArticle}" title="#{bundle.CreateArticleTitle_idArticle}" required="true" requiredMessage="#{bundle.CreateArticleRequiredMessage_idArticle}"/>
                        <p:outputLabel value="#{bundle.CreateArticleLabel_name}" for="name" />
                        <p:inputText id="name" value="#{articleController.selected.name}" title="#{bundle.CreateArticleTitle_name}" required="true" requiredMessage="#{bundle.CreateArticleRequiredMessage_name}"/>
                        <p:outputLabel value="#{bundle.CreateArticleLabel_stock}" for="stock" />
                        <p:inputText id="stock" value="#{articleController.selected.stock}" title="#{bundle.CreateArticleTitle_stock}" required="true" requiredMessage="#{bundle.CreateArticleRequiredMessage_stock}"/>
                        <p:outputLabel value="#{bundle.CreateArticleLabel_state}" for="state" />
                        <p:inputText id="state" value="#{articleController.selected.state}" title="#{bundle.CreateArticleTitle_state}" />
                        <p:outputLabel value="#{bundle.CreateArticleLabel_urlImage}" for="urlImage" />
                        <p:inputText id="urlImage" value="#{articleController.selected.urlImage}" title="#{bundle.CreateArticleTitle_urlImage}" />
                        <p:outputLabel value="#{bundle.CreateArticleLabel_userCreate}" for="userCreate" />
                        <p:inputText id="userCreate" value="#{articleController.selected.userCreate}" title="#{bundle.CreateArticleTitle_userCreate}" required="true" requiredMessage="#{bundle.CreateArticleRequiredMessage_userCreate}"/>
                        <p:outputLabel value="#{bundle.CreateArticleLabel_dateCreate}" for="dateCreate" />
                        <p:calendar id="dateCreate" pattern="MM/dd/yyyy HH:mm:ss" value="#{articleController.selected.dateCreate}" title="#{bundle.EditArticleTitle_dateCreate}" required="true" requiredMessage="#{bundle.EditArticleRequiredMessage_dateCreate}" showOn="button"/>
                        <p:outputLabel value="#{bundle.CreateArticleLabel_userEdit}" for="userEdit" />
                        <p:inputText id="userEdit" value="#{articleController.selected.userEdit}" title="#{bundle.CreateArticleTitle_userEdit}" />
                        <p:outputLabel value="#{bundle.CreateArticleLabel_dateEdit}" for="dateEdit" />
                        <p:calendar id="dateEdit" pattern="MM/dd/yyyy HH:mm:ss" value="#{articleController.selected.dateEdit}" title="#{bundle.EditArticleTitle_dateEdit}"  showOn="button"/>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{articleController.create}" value="#{bundle.Save}" update="display,:ArticleListForm:datalist,:growl" oncomplete="handleSubmit(args,'ArticleCreateDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="ArticleCreateDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
