<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="ArticleEditDlg" widgetVar="ArticleEditDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.EditArticleTitle}"  responsive="true">
            <h:form id="ArticleEditForm">
            <p:messages id="messages" showDetail="false" autoUpdate="false" closable="true" />
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{articleController.selected != null}" layout="grid" styleClass="ui-panelgrid-blank" columnClasses="ui-grid-col-4,ui-grid-col-8">
                        <p:outputLabel value="#{bundle.EditArticleLabel_name}" for="name" />
                        <p:inputText id="name" value="#{articleController.selected.name}" title="#{bundle.EditArticleTitle_name}" required="true" requiredMessage="#{bundle.EditArticleRequiredMessage_name}"/>
                        
                        <p:outputLabel value="#{bundle.EditArticleLabel_stock}" for="stock" />
                        <p:inputText id="stock" value="#{articleController.selected.stock}" title="#{bundle.EditArticleTitle_stock}" required="true" requiredMessage="#{bundle.EditArticleRequiredMessage_stock}"/>
                        
                        <p:outputLabel value="#{bundle.EditArticleLabel_state}" for="state" />
                        <p:selectOneMenu id="state" value="#{articleController.newArticle.state}" required="true" requiredMessage="You must enter status">
                            <f:selectItem itemLabel="Enable" itemValue="Enable" />
                            <f:selectItem itemLabel="Disable" itemValue="Disable" />
                        </p:selectOneMenu>
                        
<!--                        <p:outputLabel value="#{bundle.EditArticleLabel_urlImage}" for="urlImage" />
                        <p:inputText id="urlImage" value="#{articleController.selected.urlImage}" title="#{bundle.EditArticleTitle_urlImage}" />-->
                    </p:panelGrid>
                    <p:commandButton actionListener="#{articleController.update}" value="#{bundle.Save}" process="@form" update="ArticleEditForm,:ArticleListForm:datalist,:ArticleListForm:messages"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="PF('ArticleEditDialog').hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>
        
    </ui:composition>
</html>
