<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="../../template.xhtml">

        <ui:define name="title">
            <h:outputText value="Articles"></h:outputText>
        </ui:define>

        <ui:define name="body">
            <ul class="nav nav-tabs">
                <li role="presentation" class="active"><h:link outcome="/Views/article/List" value="Articles (Administration)"/></li>
                <li role="presentation"><h:link outcome="/Views/listPrice/List" value="List Price (Administration)"/></li>
                <li role="presentation"><h:link outcome="/Views/bill/List" value="Bills (Administration)"/></li>
                <li role="presentation"><h:link outcome="/Views/orders/Order" value="Make Order (Client)"/></li>
            </ul>
            <h:panelGroup>
                <h:form prependId="false">
                    <f:event type="preRenderComponent" listener="#{articleController.inicializarValores()}"/>
                </h:form>
            </h:panelGroup>

            <p:panel id="create" header="Create Article" toggleable="true" closable="false"
                     toggleSpeed="500" collapsed="false">

                <h:form id="ArticleCreateForm" prependId="false">
                    <p:messages id="msgs" />

                    <div class="ui-grid-col-12" style="text-align: center;">Article</div>
                    <p:panelGrid columns="6" columnClasses="ui-grid-col-1,ui-grid-col-3,ui-grid-col-1,ui-grid-col-3,ui-grid-col-1,ui-grid-col-3" layout="grid" styleClass="ui-panelgrid-blank">
                        <p:outputLabel for="input2" value="Name:"/>
                        <p:inputText id="input2" value="#{articleController.newArticle.name}" required="true" label="Name" requiredMessage="You must enter a name"/>

                        <p:outputLabel for="Image" value="Image:"/>
                        <p:fileUpload id="Image" fileUploadListener="#{articleController.handleFileUpload}" auto="true" fileLimit="1" dragDropSupport="false"  mode="advanced"
                                      allowTypes="/(\.|\/)(gif|jpe?g|png)$/" sizeLimit="100000" required="true" requiredMessage="You must enter an image" skinSimple="true" />

                        <p:outputLabel for="State" value="State:"/>
                        <p:selectOneMenu id="State" value="#{articleController.newArticle.state}" required="true" requiredMessage="You must enter status">
                            <f:selectItem itemLabel="Enable" itemValue="Enable" />
                            <f:selectItem itemLabel="Disable" itemValue="Disable" />
                        </p:selectOneMenu>

                    </p:panelGrid>

                    <div class="ui-grid-col-12" style="text-align: center;">Inventory</div>
                    <p:panelGrid columns="6" columnClasses="ui-grid-col-1,ui-grid-col-3,ui-grid-col-1,ui-grid-col-3,ui-grid-col-1,ui-grid-col-3" layout="grid" styleClass="ui-panelgrid-blank">
                        <p:outputLabel for="Stock" value="Stock:"/>
                        <p:inputText id="Stock" value="#{articleController.newArticle.stock}" required="true" requiredMessage="You must enter inventory quantity"/>
                    </p:panelGrid>

                    <br/>
                    <div class="ui-g">
                        <div class="ui-g-12 ui-md-2  ui-lg-2"><p:commandButton process="@form" icon="ui-icon-disk" update="@form, :ArticleListForm:datalist" actionListener="#{articleController.crearRegistro}" value="#{bundle.Save} " /></div>
                    </div>
                </h:form>
            </p:panel>

            <p:tooltip />
            <h:form id="ArticleListForm" prependId="false">
                <p:messages id="messages" showDetail="false" autoUpdate="false" closable="true" />

                <p:dataTable id="datalist" var="item" value="#{articleController.listado}" reflow="true" style="margin-top:20px"
                             rows="10" paginator="true" rowsPerPageTemplate="5,10,15"
                             paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                             selectionMode="single" selection="#{articleController.selected}"
                             rowKey="#{item.idArticle}"
                             >
                    <p:ajax event="rowUnselect" update="editButton"/>
                    <p:ajax event="rowSelect"   update="editButton"/>

                    <f:facet name="header">
                        Articles
                    </f:facet>

                    <p:column headerText="Name" sortBy="#{item.name}">
                        <h:graphicImage value="#{item.urlImage}" width="50" height="50"/>  
                        <h:outputText value="#{item.name}"  />
                    </p:column>

                    <p:column headerText="State" sortBy="#{item.state}">
                        <h:panelGroup rendered="#{item.state.compareTo('Enable')==0}">
                            <h:outputText style="color: blue;" value="#{item.state}" />
                        </h:panelGroup>
                        <h:panelGroup rendered="#{item.state.compareTo('Enable')!=0}">
                            <h:outputText style="color: red;" value="#{item.state}" />
                        </h:panelGroup>
                    </p:column>

                    <p:column headerText="Stock" sortBy="#{item.stock}">
                        <h:outputText value="#{item.stock}" />
                    </p:column>

                    <p:column headerText="Edit By">
                        <h:outputText value="#{item.userEdit}" />
                    </p:column>

                    <p:column headerText="Edit Date">
                        <h:outputText value="#{item.dateEdit}">
                            <f:convertDateTime pattern="dd/MM/YYYY"/>
                        </h:outputText>
                    </p:column>

                    <f:facet name="footer">
                        <p:commandButton id="editButton" style="width: 200px;" icon="ui-icon-pencil" value="#{bundle.Edit}" update=":ArticleEditForm" oncomplete="PF('ArticleEditDialog').show()" disabled="#{empty articleController.selected}"/>
                    </f:facet>
                </p:dataTable>
            </h:form>

            <ui:include src="Edit.xhtml"/>

        </ui:define>
    </ui:composition>

</html>
