<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="../../template.xhtml">

        <ui:define name="title">
            <h:outputText value="#{bundle.ListOrdersTitle_bill}"></h:outputText>
        </ui:define>

        <ui:define name="body">
            <ul class="nav nav-tabs">
                <li role="presentation"><h:link outcome="/Views/article/List" value="Articles (Administration)"/></li>
                <li role="presentation"><h:link outcome="/Views/listPrice/List" value="List Price (Administration)"/></li>
                <li role="presentation" class="active"><h:link outcome="/Views/bill/List" value="Bills (Administration)"/></li>
                <li role="presentation"><h:link outcome="/Views/orders/Order" value="Make Order (Client)"/></li>
            </ul>

            <style>
                .ui-spinner-button {
                    cursor: default;
                    display: block;
                    font-size: 0.5em;
                    height: 30%;
                    margin: 0;
                    overflow: hidden;
                    padding: 0;
                    position: absolute;
                    right: 0;
                    text-align: center;
                    vertical-align: middle;
                    width: 16px;
                    z-index: 100;
                }

            </style>
            <h:panelGroup>
                <h:form prependId="false">
                    <f:event type="preRenderComponent" listener="#{billController.inicializarValores()}"/>
                </h:form>
            </h:panelGroup>

            <h:form id="BillListForm">
                <p:messages id="messages" showDetail="false" autoUpdate="false" closable="true" />
                <p:panel header="#{bundle.ListOrdersTitle_bill}">
                    <p:dataTable id="datalist" value="#{billController.items}" var="item"
                                 selectionMode="single" selection="#{billController.selected}"
                                 paginator="true" reflow="true"
                                 rowKey="#{item.billPK}"
                                 rows="10"
                                 rowsPerPageTemplate="5,10,20,30,40,50"
                                 >

                        <p:ajax event="rowSelect"   update="detailButton"/>
                        <p:ajax event="rowUnselect" update="detailButton"/>

                        <p:column headerText="Bill" filterBy="#{item.billPK.idBill}">
                            <h:outputText value="#{item.billPK.idBill}"/>
                        </p:column>

                        <p:column headerText="Client" filterBy="#{billController.buscarClienteById(item.billPK.idUser)}">
                            <h:outputText value="#{billController.buscarClienteById(item.billPK.idUser)}"/>
                        </p:column>

                        <p:column headerText="Date" sortBy="#{item.dateBill}">
                            <h:outputText value="#{item.dateBill}">
                                <f:convertDateTime pattern="dd/MM/YYYY"/>
                            </h:outputText>
                        </p:column>

                        <p:column headerText="Pay">
                            <h:panelGroup layout="block" rendered="#{item.idPayMode eq null}">
                                <h:outputText style="color: red;" value="Receivable"/>
                            </h:panelGroup>
                            <h:panelGroup layout="block" rendered="#{item.idPayMode ne null}">
                                <h:outputText style="color: blue;" value="Paid"/>
                            </h:panelGroup>
                        </p:column>

                        <p:column headerText="Total">
                            <h:outputText value="#{billController.calcularTotal(item)}"/>
                        </p:column>

                        <f:facet name="footer">
                            <p:commandButton id="detailButton" style="width: 200px;" action="#{billController.observarDetalle()}" icon="ui-icon-search" value="Order Detail" process="@form" update="@form BillDetail" disabled="#{empty billController.selected}"/>
                        </f:facet>
                    </p:dataTable>
                </p:panel>
            </h:form>


            <p:dialog id="BillDetail" widgetVar="dlgBillDetail" width="60%" modal="true" resizable="false" header="Order Detail"  responsive="true">
                <h:form id="VentasListForm" prependId="false">
                    <p:messages id="messagesDetail" showDetail="false" autoUpdate="false" closable="true" />

                    <p:dataTable id="datalistBillDetail"  value="#{billController.ventas}" var="item" reflow="true" >
                        <f:facet name="header">
                           <h:graphicImage value="../../resources/img/logo.png"/> 
                        </f:facet>

                        <p:column headerText="My Drinks">
                            <h:outputText value="#{item.nameArticle}"  />
                        </p:column>

                        <p:column headerText="Price">
                            <h:outputText value="$#{item.price}"/>
                        </p:column>

                        <p:column headerText="Order" >
                            <p:spinner prefix="x" min="0" max="#{item.cantMax}" value="#{item.order}">
                                <p:ajax listener="#{billController.refreshTotal()}" update="@form" process="@this" />
                            </p:spinner>
                        </p:column>

                        <f:facet name="footer">
                            <h:outputText value="Total: $#{billController.total}"  />
                            <br/>
                            <p:commandButton id="save" style="width: 200px;" update=":VentasListForm :BillListForm" process="@form" icon="ui-icon-disk" value="Edit Order" actionListener="#{billController.realizarEdicion()}" disabled="#{billController.editable}" />
                            <p:commandButton id="cancel" style="width: 200px;" icon="ui-icon-circle-close" value="Cancel" onclick="PF('dlgBillDetail').hide();"/>
                        </f:facet>
                    </p:dataTable>
                </h:form>
            </p:dialog>

        </ui:define>
    </ui:composition>

</html>
