<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="PayModeCreateDlg" widgetVar="PayModeCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.CreatePayModeTitle}">
            <h:form id="PayModeCreateForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{payModeController.selected != null}">
                        <p:outputLabel value="#{bundle.CreatePayModeLabel_idPayMode}" for="idPayMode" />
                        <p:inputText id="idPayMode" value="#{payModeController.selected.idPayMode}" title="#{bundle.CreatePayModeTitle_idPayMode}" required="true" requiredMessage="#{bundle.CreatePayModeRequiredMessage_idPayMode}"/>
                        <p:outputLabel value="#{bundle.CreatePayModeLabel_cardType}" for="cardType" />
                        <p:inputText id="cardType" value="#{payModeController.selected.cardType}" title="#{bundle.CreatePayModeTitle_cardType}" required="true" requiredMessage="#{bundle.CreatePayModeRequiredMessage_cardType}"/>
                        <p:outputLabel value="#{bundle.CreatePayModeLabel_cardNumber}" for="cardNumber" />
                        <p:inputText id="cardNumber" value="#{payModeController.selected.cardNumber}" title="#{bundle.CreatePayModeTitle_cardNumber}" required="true" requiredMessage="#{bundle.CreatePayModeRequiredMessage_cardNumber}"/>
                        <p:outputLabel value="#{bundle.CreatePayModeLabel_securityCode}" for="securityCode" />
                        <p:inputText id="securityCode" value="#{payModeController.selected.securityCode}" title="#{bundle.CreatePayModeTitle_securityCode}" required="true" requiredMessage="#{bundle.CreatePayModeRequiredMessage_securityCode}"/>
                        <p:outputLabel value="#{bundle.CreatePayModeLabel_nameCard}" for="nameCard" />
                        <p:inputText id="nameCard" value="#{payModeController.selected.nameCard}" title="#{bundle.CreatePayModeTitle_nameCard}" required="true" requiredMessage="#{bundle.CreatePayModeRequiredMessage_nameCard}"/>
                        <p:outputLabel value="#{bundle.CreatePayModeLabel_identificationCard}" for="identificationCard" />
                        <p:inputText id="identificationCard" value="#{payModeController.selected.identificationCard}" title="#{bundle.CreatePayModeTitle_identificationCard}" required="true" requiredMessage="#{bundle.CreatePayModeRequiredMessage_identificationCard}"/>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{payModeController.create}" value="#{bundle.Save}" update="display,:PayModeListForm:datalist,:growl" oncomplete="handleSubmit(args,'PayModeCreateDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="PayModeCreateDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
