<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
        <title>Facelet Title</title>
        <h:outputStylesheet name="css/jsfcrud.css"/>
        <link href="resources/bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    </h:head>
    <h:body>
        <ul class="nav nav-tabs">
            <li role="presentation"><h:link outcome="/Views/article/List" value="Articles (Administration)"/></li>
            <li role="presentation"><h:link outcome="/Views/listPrice/List" value="List Price (Administration)"/></li>
            <li role="presentation"><h:link outcome="/Views/bill/List" value="Bills (Administration)"/></li>
            <li role="presentation"><h:link outcome="/Views/orders/Order" value="Make Order (Client)"/></li>
        </ul>
    </h:body>

</html>

